<div class="span8">
	<% if @user.protocols.any? %>
		<ol>
			<h4>My Protocols (<%= @user.protocols.count %>)</h4>
			<%= render @protocols %>
		</ol>
		<%= will_paginate @protocols %>
	<% end %>
</div>
