<% if @user.protocols.any? %>
	<div class="span8">
		<ol>
			<h4>My Protocols (<%= @user.protocols.count %>)</h4>
			<%= render :partial => 'protocols/protocol' %>
		</ol>
		<%= will_paginate @protocols %>
	</div>
<% else %>
	<div class="row">
		<div class="span6 offset3">
			<div class="text-center">
				<div class="well">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>WHOA!</strong> You have no protocols!<br />
						To create a protocol, you may create an antibody from your profile page,<br />
						or search for an antibody.
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>