<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    	<div class="well">
      	<p>
      		My profile.
      		<br />
      		<br />
      		<i class="icon-user"></i>
      		<br />
          <br />
      		<em>Insert image and options here.</em>
      	</p>
    	</div>
    </div>
    <div class="span9">
    	<div class="well">
      	<p>
      		My projects.
      		<br />
      		<br />
      		<i class="icon-file"></i>
      		<br />
          <br />
      		<em>Insert projects and bio here.</em>
      	</p>
    	</div>
  	</div>
    <div class="nav">
      <%= link_to "Add Antibody", new_antibody_path, class: "btn btn-success" %>
      <%= link_to "Search Antibodies", antibodies_path, class: "btn btn-info" %>
    </div>
  </div>
</div>