<!-- <div class="row-fluid">
	<div class="span4">
		<h3>What is Sciero?</h3>
		<div class="well">
			<p>
				Sciero is a startup out of Boston that is designing innovative tools at the intersection of deep information technology and biomedical research.
			</p>
			<p>
				<%= link_to "Learn More", about_path, class: "btn" %>
			</p>
		</div>
	</div>
	<div class="span4">
		<h3>Products</h3>
		<div class="well">
			<p>
				While other companies strive to adapt technology to the changes in science, Sciero is advancing technology to stay ahead of the curve.
			</p>
			<p>
				<%= link_to "Learn More", products_path, class: "btn" %>
			</p>
		</div>
	</div>
	<div class="span4">
		<h3>The Team</h3>
		<div class="well">
			<p>
				We're no amateurs. We're skilled entrepreneurs with a passion to serve. Client-oriented and forward-thinking. We do the work so you don't have to.
			</p>
			<p>
				<%= link_to "Learn More", team_path, class: "btn" %>
			</p>
		</div>
	</div>
</div> -->