<div class="page-header">
	<h1>About Sciero
		<p>
			<hr>
			<small>
					Where is there a better place to have a startup than in Boston, MA? The global hub of technology and science.
					<br />
					Our work is inspired by growing trends (and gaps) in Big Data analytics and bioinformatics.
					<br />
					We take a high-level approach to every project and feature.
					<br />
					We aim to achieve the highest usability standard that is streamlined and accessible for every scientist.
					<br />
					It is our goal with the latest tools available to us in deep information technology to redefine the conventional scientific means of research by increasing the efficiency of data collection, documentation, management, and collaboration.
					<br />
					Please <%= link_to "contact", contact_path %> us with any related questions.
			</small>
		</p>
	</h1>
</div>