<div class="page-header">
	<h1>Contact Us
		<p>
			<hr>
			<small>Please fill out the form below and let us know what's up.</small>
		</p>
	</h1>
	<div class="control-group">
  	<label class="control-label" for="inputIcon">Name</label>
  		<div class="controls">
    		<div class="input-prepend">
      		<span class="add-on"><i class="icon-user"></i></span>
      		<input class="span2" id="inputIcon" type="text" placeholder="Your name">
    		</div>
  		</div>
  	<label class="control-label" for="inputIcon">Email address</label>
  		<div class="controls">
    		<div class="input-prepend">
      		<span class="add-on"><i class="icon-envelope"></i></span>
      		<input class="span2" id="inputIcon" type="text" placeholder="Your email">
    		</div>
  		</div>
  	<label class="control-label" for="inputIcon">Message</label>
  		<div class="controls">
    		<div class="input-prepend">
      		<span class="add-on"><i class="icon-inbox"></i></span>
      		<textarea rows="2" placeholder="This form is just a placeholder. It doesn't work."></textarea>
    		</div>
  		</div>
  		<a href="#" class="btn btn-primary">Send</a>
	</div>
</div>