<div class="page-header">
	<h1>Product Development
		<p>
			<hr>
			<small>
				<ul>
					We have a number of products that we're developing which are designed to improve your work efficiency.
					<br /><br />
					Our flagship product is Bind. Through a simple rating and feedback system, users can determine the quality of any given commercially manufactured antibody with user-generated, testable protocols. This raises the standard of antibodies available on the market today.
					It's Amazon for antibody research.
				</ul>
			</small>
		</p>
	</h1>
</div>