<table class="table table-striped">
  <thead>
    <tr>
      <th>User Application Statement</th>
      <th>Research Application</th>
      <th>Summary</th>
    </tr>
  </thead>

  <tbody>
   <% @protocols.each do |protocol| %>
    <tr>
      <td><%= protocol.statement %></td>
      <td><%= protocol.research_application %></td>
      <td><%= protocol.description %></td>
      <td><%= link_to 'Info', protocol, class: "btn btn-info" %></td>
    </tr>
    <% end %>
  </tbody>
</table>