<div class="well">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>User Application Statement</th>
      <th>Cell or Tissue Model</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
   <% @protocols.each do |protocol| %>
    <tr>
      <td><%= protocol.statement %></td>
      <td><%= protocol.cell %></td>
      <td><%= protocol.description %></td>
      <td><%= link_to 'Info', protocol, class: "btn btn-info" %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>