$baseFontFamily: ShareTechMono;
@import url(http://fonts.googleapis.com/css?family=ShareTechMono);

@import 'bootstrap';

form {
    margin: 0;
}

.navbar .nav li a:hover {
    color: $blue;
}

.navbar .dropdown-menu li a:hover {
    color: $white;
}

.container .brand {
	color: $blue;
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
	// margin-bottom: 20px;
}

@import 'bootstrap-responsive';

.welcome {
    padding-top: 5px;
    font-size: 1.2em;
}

.dropdown {
    list-style: none;
}

.my_protocols {
    font-size: 1.2em; 
}

footer {
	text-align: center;
	padding-top: 10px;
	color: $grayLight;
	letter-spacing: 1px;
}

/* Required for jQuery Masonry */

.box {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px #444;
    width: 16%;
}

.details {
    margin: 10px 0 5px;
}
