<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
	  <div class="container">
	    <footer>
	      <small>
	        &copy; 2013 by Sciero. All Rights Reserved.
	      </small>
	    </footer>
	  </div>
	</div>
</div>
